body {
    margin: 0;
    font-family: 'Geologica', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-image: url(https://uploads-ssl.webflow.com/62259a0fd25200e36c368b9f/62279d6b214710af53a337f3_img-bg-gradient.png), url(https://i.ibb.co/9G6mN6S/food-bg.png);
    background-size: cover, auto;
    background-repeat: no-repeat, repeat;  
  }
  