// VUETIFY FONT DEFAULTS:
$font-family: 'Roboto', sans-serif;
$font-size: 16px;
$background-image: url(https://uploads-ssl.webflow.com/62259a0fd25200e36c368b9f/62279d6b214710af53a337f3_img-bg-gradient.png);
$background-size: cover;
$background-repeat: no-repeat;